<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/reset.css"/>
<link rel="stylesheet" type="text/css" href="../blog/fontawesome/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="../blog/appjs/assets/blog.loading.css"/>
<link rel="stylesheet" type="text/css" href="css/layout.css"/>
<script language="javascript" type="text/javascript" src="../blog/appjs/assets/jquery.js"></script>
<script language="javascript" type="text/javascript" src="../blog/appjs/assets/tronjs.js"></script>
<script language="javascript" type="text/javascript" src="../blog/private/configs/assets.js"></script>
<title>PJBlog X LoginForm</title>
</head>
<body>
	<div class="login">
    	<h5>PJBlog X 内容管理系统</h5>
        <div class="param clearfix">
        	<i class="fa fa-user-md"></i>
            <input type="text" name="UserName" placeholder="UserName.." class="col" />
        </div>
        <div class="param clearfix">
        	<i class="fa fa-keyboard-o"></i>
            <input type="password" name="PassWord" placeholder="PassWord.." class="col" />
        </div>
        <input type="submit" value="登录" class="submit" />
    </div>
    <script language="javascript" type="text/javascript">
		require('public/assets/js/blog.control.login', function(params){ new params(); });
	</script>
</body>
</html>
