/****** Object:  Table [dbo].[blog_themes]    Script Date: 07/10/2014 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[blog_themes]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[blog_themes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tm_key] [varchar](255) NULL,
	[tm_value] [ntext] NULL,
 CONSTRAINT [PK_blog_themes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[blog_tags]    Script Date: 07/10/2014 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[blog_tags]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[blog_tags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tag_name] [varchar](255) NULL,
	[tag_count] [int] NULL,
 CONSTRAINT [PK_blog_tags] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[blog_plugins]    Script Date: 07/10/2014 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[blog_plugins]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[blog_plugins](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[plu_mark] [varchar](255) NULL,
	[plu_name] [varchar](255) NULL,
	[plu_des] [ntext] NULL,
	[plu_author] [varchar](255) NULL,
	[plu_mail] [varchar](255) NULL,
	[plu_web] [ntext] NULL,
	[plu_folder] [varchar](255) NULL,
	[plu_icon] [ntext] NULL,
	[plu_stop] [bit] NULL,
 CONSTRAINT [PK_blog_plugins] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[blog_params]    Script Date: 07/10/2014 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[blog_params]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[blog_params](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[par_keyword] [varchar](255) NULL,
	[par_keyvalue] [ntext] NULL,
	[par_pid] [int] NULL,
 CONSTRAINT [PK_blog_params] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[blog_messages]    Script Date: 07/10/2014 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[blog_messages]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[blog_messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[msg_member_id] [int] NULL,
	[msg_content] [ntext] NULL,
	[msg_postdate] [datetime] NULL,
	[msg_reply] [ntext] NULL,
	[msg_username] [varchar](255) NULL,
	[msg_usermail] [varchar](255) NULL,
 CONSTRAINT [PK_blog_messages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[blog_members]    Script Date: 07/10/2014 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[blog_members]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[blog_members](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[member_mark] [varchar](255) NULL,
	[member_nick] [varchar](255) NULL,
	[member_hashkey] [varchar](40) NULL,
	[member_salt] [varchar](10) NULL,
	[member_mail] [varchar](255) NULL,
	[member_group] [varchar](50) NULL,
	[member_comments] [int] NULL,
	[member_messages] [int] NULL,
	[member_forbit] [bit] NULL,
	[member_logindate] [datetime] NULL,
	[member_birthday] [datetime] NULL,
	[member_address] [ntext] NULL,
	[member_website] [ntext] NULL,
	[member_sex] [int] NULL,
	[member_avatar] [ntext] NULL,
	[member_token] [varchar](50) NULL,
	[member_openid] [varchar](50) NULL,
 CONSTRAINT [PK_blog_members] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[blog_links]    Script Date: 07/10/2014 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[blog_links]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[blog_links](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[link_name] [varchar](255) NULL,
	[link_des] [ntext] NULL,
	[link_src] [ntext] NULL,
	[link_type] [int] NULL,
	[link_hide] [bit] NULL,
 CONSTRAINT [PK_blog_links] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[blog_levels]    Script Date: 07/10/2014 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[blog_levels]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[blog_levels](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code_name] [varchar](255) NULL,
	[code_des] [ntext] NULL,
	[code_isystem] [bit] NULL,
	[code_mark] [varchar](255) NULL,
 CONSTRAINT [PK_blog_code] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[blog_levels] ON
INSERT [dbo].[blog_levels] ([id], [code_name], [code_des], [code_isystem], [code_mark]) VALUES (1, N'查看文章', N'查看文章', 1, N'ViewArticles')
INSERT [dbo].[blog_levels] ([id], [code_name], [code_des], [code_isystem], [code_mark]) VALUES (2, N'管理后台', N'管理后台', 1, N'ControlSystem')
INSERT [dbo].[blog_levels] ([id], [code_name], [code_des], [code_isystem], [code_mark]) VALUES (3, N'编辑文章', N'编辑文章', 1, N'ModifyArticles')
SET IDENTITY_INSERT [dbo].[blog_levels] OFF
/****** Object:  Table [dbo].[blog_groups]    Script Date: 07/10/2014 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[blog_groups]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[blog_groups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[group_name] [varchar](255) NULL,
	[group_code] [ntext] NULL,
	[group_isystem] [bit] NULL,
 CONSTRAINT [PK_blog_groups] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[blog_groups] ON
INSERT [dbo].[blog_groups] ([id], [group_name], [group_code], [group_isystem]) VALUES (1, N'普通会员', N'[1,5,6]', 1)
INSERT [dbo].[blog_groups] ([id], [group_name], [group_code], [group_isystem]) VALUES (2, N'超级管理员', N'[1,2,3,4,5,6]', 1)
SET IDENTITY_INSERT [dbo].[blog_groups] OFF
/****** Object:  Table [dbo].[blog_global]    Script Date: 07/10/2014 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[blog_global]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[blog_global](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[blog_name] [varchar](255) NULL,
	[blog_title] [varchar](255) NULL,
	[blog_des] [ntext] NULL,
	[blog_mail] [varchar](255) NULL,
	[blog_copyright] [varchar](50) NULL,
	[blog_keywords] [ntext] NULL,
	[blog_description] [ntext] NULL,
	[blog_theme] [varchar](255) NULL,
	[blog_themename] [varchar](255) NULL,
	[blog_thememail] [varchar](255) NULL,
	[blog_themeweb] [ntext] NULL,
	[blog_themeversion] [varchar](255) NULL,
	[blog_status] [int] NULL,
	[blog_message] [ntext] NULL,
	[blog_categoryremove] [int] NULL,
	[blog_articlecut] [int] NULL,
	[blog_categoryremovechild] [int] NULL,
	[blog_appid] [int] NULL,
	[blog_appkey] [varchar](50) NULL,
	[blog_articlepage] [int] NULL,
 CONSTRAINT [PK_blog_global] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[blog_global] ON
SET IDENTITY_INSERT [dbo].[blog_global] OFF
/****** Object:  Table [dbo].[blog_comments]    Script Date: 07/10/2014 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[blog_comments]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[blog_comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[com_article_id] [int] NULL,
	[com_member_id] [int] NULL,
	[com_content] [ntext] NULL,
	[com_parent] [int] NULL,
	[com_postdate] [datetime] NULL,
 CONSTRAINT [PK_blog_comments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[blog_categorys]    Script Date: 07/10/2014 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[blog_categorys]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[blog_categorys](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cate_name] [varchar](255) NULL,
	[cate_des] [ntext] NULL,
	[cate_count] [int] NULL,
	[cate_parent] [int] NULL,
	[cate_src] [ntext] NULL,
	[cate_outlink] [bit] NULL,
	[cate_isroot] [bit] NULL,
	[cate_order] [int] NULL,
	[cate_icon] [ntext] NULL,
 CONSTRAINT [PK_blog_categorys] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[blog_categorys] ON
INSERT [dbo].[blog_categorys] ([id], [cate_name], [cate_des], [cate_count], [cate_parent], [cate_src], [cate_outlink], [cate_isroot], [cate_order], [cate_icon]) VALUES (1, N'首页', N'网站首页，获取最新的日志文章', 0, 0, N'default.asp', 1, 1, 1, N'22.gif')
INSERT [dbo].[blog_categorys] ([id], [cate_name], [cate_des], [cate_count], [cate_parent], [cate_src], [cate_outlink], [cate_isroot], [cate_order], [cate_icon]) VALUES (2, N'默认分类', N'默认分类', 0, 0, N'', 0, 1, 2, N'15.gif')
INSERT [dbo].[blog_categorys] ([id], [cate_name], [cate_des], [cate_count], [cate_parent], [cate_src], [cate_outlink], [cate_isroot], [cate_order], [cate_icon]) VALUES (3, N'默认分类的子分类', N'默认分类的子分类', 0, 2, N'', 0, 0, 1, N'8.gif')
SET IDENTITY_INSERT [dbo].[blog_categorys] OFF
/****** Object:  Table [dbo].[blog_attments]    Script Date: 07/10/2014 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[blog_attments]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[blog_attments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[att_des] [ntext] NULL,
	[att_type] [varchar](50) NULL,
	[att_src] [ntext] NULL,
 CONSTRAINT [PK_blog_attments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[blog_articles]    Script Date: 07/10/2014 14:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[blog_articles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[blog_articles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[art_title] [varchar](255) NULL,
	[art_des] [ntext] NULL,
	[art_category] [int] NULL,
	[art_content] [ntext] NULL,
	[art_tags] [ntext] NULL,
	[art_draft] [bit] NULL,
	[art_tname] [varchar](255) NULL,
	[art_postdate] [datetime] NULL,
	[art_modifydate] [datetime] NULL,
	[art_comment_count] [int] NULL,
	[art_cover] [ntext] NULL,
	[art_tdes] [ntext] NULL,
 CONSTRAINT [PK_blog_articles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[blog_articles] ON
SET IDENTITY_INSERT [dbo].[blog_articles] OFF
/****** Object:  Default [DF_blog_articles_art_category]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_articles_art_category]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_articles]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_articles_art_category]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_articles] ADD  CONSTRAINT [DF_blog_articles_art_category]  DEFAULT ((0)) FOR [art_category]
END


End
GO
/****** Object:  Default [DF_blog_articles_art_draft]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_articles_art_draft]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_articles]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_articles_art_draft]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_articles] ADD  CONSTRAINT [DF_blog_articles_art_draft]  DEFAULT ((0)) FOR [art_draft]
END


End
GO
/****** Object:  Default [DF_blog_articles_art_comment_count]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_articles_art_comment_count]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_articles]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_articles_art_comment_count]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_articles] ADD  CONSTRAINT [DF_blog_articles_art_comment_count]  DEFAULT ((0)) FOR [art_comment_count]
END


End
GO
/****** Object:  Default [DF_blog_categorys_cate_count]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_categorys_cate_count]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_categorys]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_categorys_cate_count]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_categorys] ADD  CONSTRAINT [DF_blog_categorys_cate_count]  DEFAULT ((0)) FOR [cate_count]
END


End
GO
/****** Object:  Default [DF_blog_categorys_cate_parent]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_categorys_cate_parent]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_categorys]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_categorys_cate_parent]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_categorys] ADD  CONSTRAINT [DF_blog_categorys_cate_parent]  DEFAULT ((0)) FOR [cate_parent]
END


End
GO
/****** Object:  Default [DF_blog_categorys_cate_outlink]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_categorys_cate_outlink]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_categorys]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_categorys_cate_outlink]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_categorys] ADD  CONSTRAINT [DF_blog_categorys_cate_outlink]  DEFAULT ((0)) FOR [cate_outlink]
END


End
GO
/****** Object:  Default [DF_blog_categorys_cate_isroot]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_categorys_cate_isroot]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_categorys]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_categorys_cate_isroot]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_categorys] ADD  CONSTRAINT [DF_blog_categorys_cate_isroot]  DEFAULT ((0)) FOR [cate_isroot]
END


End
GO
/****** Object:  Default [DF_blog_categorys_cate_order]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_categorys_cate_order]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_categorys]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_categorys_cate_order]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_categorys] ADD  CONSTRAINT [DF_blog_categorys_cate_order]  DEFAULT ((99)) FOR [cate_order]
END


End
GO
/****** Object:  Default [DF_blog_comments_com_article_id]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_comments_com_article_id]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_comments]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_comments_com_article_id]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_comments] ADD  CONSTRAINT [DF_blog_comments_com_article_id]  DEFAULT ((0)) FOR [com_article_id]
END


End
GO
/****** Object:  Default [DF_blog_comments_com_member_id]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_comments_com_member_id]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_comments]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_comments_com_member_id]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_comments] ADD  CONSTRAINT [DF_blog_comments_com_member_id]  DEFAULT ((0)) FOR [com_member_id]
END


End
GO
/****** Object:  Default [DF_blog_comments_com_parent]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_comments_com_parent]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_comments]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_comments_com_parent]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_comments] ADD  CONSTRAINT [DF_blog_comments_com_parent]  DEFAULT ((0)) FOR [com_parent]
END


End
GO
/****** Object:  Default [DF_blog_global_blog_status]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_global_blog_status]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_global]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_global_blog_status]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_global] ADD  CONSTRAINT [DF_blog_global_blog_status]  DEFAULT ((0)) FOR [blog_status]
END


End
GO
/****** Object:  Default [DF_blog_global_blog_articlepage]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_global_blog_articlepage]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_global]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_global_blog_articlepage]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_global] ADD  CONSTRAINT [DF_blog_global_blog_articlepage]  DEFAULT ((10)) FOR [blog_articlepage]
END


End
GO
/****** Object:  Default [DF_blog_groups_group_isystem]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_groups_group_isystem]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_groups]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_groups_group_isystem]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_groups] ADD  CONSTRAINT [DF_blog_groups_group_isystem]  DEFAULT ((0)) FOR [group_isystem]
END


End
GO
/****** Object:  Default [DF_blog_code_code_isystem]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_code_code_isystem]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_levels]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_code_code_isystem]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_levels] ADD  CONSTRAINT [DF_blog_code_code_isystem]  DEFAULT ((0)) FOR [code_isystem]
END


End
GO
/****** Object:  Default [DF_blog_links_link_type]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_links_link_type]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_links]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_links_link_type]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_links] ADD  CONSTRAINT [DF_blog_links_link_type]  DEFAULT ((0)) FOR [link_type]
END


End
GO
/****** Object:  Default [DF_blog_links_link_hide]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_links_link_hide]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_links]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_links_link_hide]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_links] ADD  CONSTRAINT [DF_blog_links_link_hide]  DEFAULT ((0)) FOR [link_hide]
END


End
GO
/****** Object:  Default [DF_blog_members_member_comments_1]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_members_member_comments_1]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_members]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_members_member_comments_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_members] ADD  CONSTRAINT [DF_blog_members_member_comments_1]  DEFAULT ((0)) FOR [member_comments]
END


End
GO
/****** Object:  Default [DF_blog_members_member_messages_1]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_members_member_messages_1]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_members]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_members_member_messages_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_members] ADD  CONSTRAINT [DF_blog_members_member_messages_1]  DEFAULT ((0)) FOR [member_messages]
END


End
GO
/****** Object:  Default [DF_blog_members_member_forbit_1]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_members_member_forbit_1]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_members]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_members_member_forbit_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_members] ADD  CONSTRAINT [DF_blog_members_member_forbit_1]  DEFAULT ((0)) FOR [member_forbit]
END


End
GO
/****** Object:  Default [DF_blog_members_member_sex]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_members_member_sex]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_members]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_members_member_sex]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_members] ADD  CONSTRAINT [DF_blog_members_member_sex]  DEFAULT ((0)) FOR [member_sex]
END


End
GO
/****** Object:  Default [DF_blog_params_par_pid]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_params_par_pid]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_params]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_params_par_pid]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_params] ADD  CONSTRAINT [DF_blog_params_par_pid]  DEFAULT ((0)) FOR [par_pid]
END


End
GO
/****** Object:  Default [DF_blog_plugins_plu_stop]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_plugins_plu_stop]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_plugins]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_plugins_plu_stop]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_plugins] ADD  CONSTRAINT [DF_blog_plugins_plu_stop]  DEFAULT ((0)) FOR [plu_stop]
END


End
GO
/****** Object:  Default [DF_blog_tags_tag_count]    Script Date: 07/10/2014 14:37:16 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_blog_tags_tag_count]') AND parent_object_id = OBJECT_ID(N'[dbo].[blog_tags]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_blog_tags_tag_count]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[blog_tags] ADD  CONSTRAINT [DF_blog_tags_tag_count]  DEFAULT ((0)) FOR [tag_count]
END


End
GO
