@charset "utf-8";
/* CSS Document */
@-moz-keyframes SvgAnimate {
	0% {
		fill: rgba(255,255,255,0);
		stroke-dashoffset: -650;
		stroke-width: 1
	}
	80% {
		fill: rgba(255,255,255,0);
		stroke-dashoffset: 0;
		stroke-width: 1
	}
	100% {
		fill: rgba(255,255,255,1);
		stroke-dashoffset: 0;
		stroke-width: 0
	}
}
@-webkit-keyframes SvgAnimate {
	0% {
		fill: rgba(255,255,255,0);
		stroke-dashoffset: -650;
		stroke-width: 2
	}
	80% {
		fill: rgba(255,255,255,0);
		stroke-dashoffset: 0;
		stroke-width: 2
	}
	100% {
		fill: rgba(255,255,255,1);
		stroke-dashoffset: 0;
		stroke-width: 0
	}
}
@keyframes SvgAnimate {
	0% {
		fill: rgba(255,255,255,0);
		stroke-dashoffset: -650;
		stroke-width: 2
	}
	80% {
		fill: rgba(255,255,255,0);
		stroke-dashoffset: 0;
		stroke-width: 2
	}
	100% {
		fill: rgba(255,255,255,1);
		stroke-dashoffset: 0;
		stroke-width: 0
	}
}
html{ -webkit-font-smoothing: antialiased; -webkit-overflow-scrolling: touch; }
.SvgAnimate svg path { stroke-dasharray: 908.1746215820312; stroke-dashoffset: -650; stroke-width: 2; }
.SvgAnimate svg path { -webkit-animation: SvgAnimate 2.2s cubic-bezier(0.77,0,0.175,1) both; -moz-animation: SvgAnimate 2.2s cubic-bezier(0.77,0,0.175,1) both; animation: SvgAnimate 2.2s cubic-bezier(0.77,0,0.175,1) both; }
html,
body,
#page{ background-image:url(../img/bg.gif); min-height:100%;}
body{ overflow-x:hidden;}
.wordCut{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;}
a:link,
a:visited{ color:#1a6cc1; text-decoration:none;}
a:hover{ color:#777;}

a,
.tansAchor{
    word-wrap: break-word;
    -webkit-transition: color 0.3s ease-in, background 0.3s ease-in, opacity 0.2s ease-in;
    -moz-transition: color 0.3s ease-in, background 0.3s ease-in, opacity 0.2s ease-in;
    -ms-transition: color 0.3s ease-in, background 0.3s ease-in, opacity 0.2s ease-in;
    -o-transition: color 0.3s ease-in, background 0.3s ease-in, opacity 0.2s ease-in;
    transition: color 0.3s ease-in, background 0.3s ease-in, opacity 0.2s ease-in;
}

.track{
	-webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.track5{
	-webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

#welcome{ background-color:#41b1e7; position:fixed; top:0px; left:0px; width:100%; min-height:1100px; z-index:99999; opacity:1;}
.themeloading{ top:50px!important;}
#welcome .welcome-wrap{ width:100%; height:100%; position:relative;}
#welcome .welcome-wrap .svg{ width:300px; height:300px; position:absolute; top:50%; left:50%; margin-top:-150px; margin-left:-150px;}
#welcome .welcome-wrap .svg .logs{ color:#eee}
#welcome .welcome-wrap .svg .logs h1{ 
	text-align:center; 
	font-size:18px; 
	height:30px; 
	line-height:30px;
	text-shadow:1px 1px 1px rgba(255,255,255,.45);
	
	-webkit-animation-delay:100ms;
	   -moz-animation-delay:100ms;
	     -o-animation-delay:100ms;
	    -ms-animation-delay:100ms;
	        animation-delay:100ms;
			
	-webkit-animation-duration:1s;
	   -moz-animation-duration:1s;
	     -o-animation-duration:1s;
	    -ms-animation-duration:1s;
	        animation-duration:1s;
}
#welcome .welcome-wrap .svg .logs p{ text-align:center; height:20px; line-height:20px; margin-top:10px; color:#ddd;}
#welcome .welcome-wrap .svg .logs .w1{
	-webkit-animation-delay:100ms; 
	   -moz-animation-delay:100ms; 
	     -o-animation-delay:100ms; 
	    -ms-animation-delay:100ms; 
	        animation-delay:100ms; 
	
	-webkit-animation-duration:1.1s;
	   -moz-animation-duration:1.1s;
	     -o-animation-duration:1.1s;
	    -ms-animation-duration:1.1s;
	        animation-duration:1.1s;
}
#welcome .welcome-wrap .svg .logs .w2{
	-webkit-animation-delay:100ms; 
	   -moz-animation-delay:100ms; 
	     -o-animation-delay:100ms; 
	    -ms-animation-delay:100ms; 
	        animation-delay:100ms; 
	
	-webkit-animation-duration:1.2s;
	   -moz-animation-duration:1.2s;
	     -o-animation-duration:1.2s;
	    -ms-animation-duration:1.2s;
	        animation-duration:1.2s;
}
.welcomeoutview{ 
	opacity:0!important;
	-webkit-transform: scale(.001);
	    -ms-transform: scale(.001);
	     -o-transform: scale(.001);
	   -moz-transform: scale(.001);
	        transform: scale(.001);
}

.header{ height:50px; background-color:#444; padding:0px 30px; line-height:50px; color:#fff; }
.header .logo{ font-size:18px;}
.header .logo sub{ font-size:14px; color:#999;}
.header .logout i{ color:#fff; height:50px; line-height:50px; font-size:16px; color:#ddd;}
.header .logout:hover i{ color:#fff;}
.header .navcolpase{ margin-right:20px; display:none;}
.header .navcolpase i{ color:#fff; height:50px; line-height:50px; font-size:16px; color:#ddd;}
.header .navcolpase:hover i{ color:#fff;}
.header .achor{ width:960px; margin:0 auto; width:730px; height:50px;}
.header .achor a{ display:block; float:left; line-height:50px; text-align:center; width:80px;}
.header .achor a:link,
.header .achor a:visited{ color:#ddd; font-size:12px; text-decoration:none;}
.header .achor a:hover{ color:#ddd; font-weight:bold;}
.header .achor a i{ font-size:20px; display:block; line-height:50px; font-weight:normal;}
.header .achor a span{ display:none; line-height:50px;}
.header .achor a:hover i{ display:none;}
.header .achor a:hover span{ display:block; font-size:12px;}

.container{ margin:20px 20px;}
.container .sidebar{ width:200px;}
.container .sidebar .sidezone{ padding:0px 0px 0px 0px; background-color:#fff;border-radius:3px; box-shadow:0px 1px 6px #ccc; overflow:hidden;}
.container .sidebar .sidezone .sidezonechilds{background-color:#f9f9f9;}
.container .sidebar .sidezone .sidezonechilds h6{height:30px; line-height:30px; padding:5px 15px; border-bottom:1px dashed #e9e9e9;  color:#777;}
.container .sidebar .sidezone .sidezonechilds h6 span i{ height:30px; width:10px; line-height:30px; text-align:center; display:block; color:#ccc;}
.container .sidebar .sidezone h5{ padding:10px 10px; border-bottom:1px solid #E9E9E9; font-weight:bold; height:20px; line-height:20px;}
.container .sidebar .sidezone a{ display:block; height:30px; line-height:30px; padding:5px 15px 5px 20px; border-bottom:1px dashed #e9e9e9;}
.container .sidebar .sidezone a:last-child{ border-bottom:none;}
.container .sidebar .sidezone a i{ margin-right:5px;}
.container .sidebar .sidezone a:link,
.container .sidebar .sidezone a:visited{ color:#777; text-decoration:none;}
.container .sidebar .sidezone a:hover{ color:#333; background-color:#e9e9e9}
.container .sidebar .sidezone .sidezonechilds a{ padding-left:30px;}
.plugins .content{ margin-left:220px;}
.content .navtabs{ height:40px; line-height:40px; padding:0px 20px; background-color:#fff; box-shadow:0px 1px 6px #ccc; border-radius:3px; margin-bottom:20px;}
.content .navtabs i{ font-size:14px; line-height:40px; margin-right:8px; color:#777;}
.content .navtabs strong{ color:#777; font-weight:bold; font-size:14px; margin-right:20px;}
.content .navtabs span{ color:#999; font-size:11px; line-height:40px;}

.waterfull li{ margin:0px 20px 20px 0px; background-color:#fff; width:300px; box-shadow:0 1px 4px #ccc;}
.waterfull li:hover{ background-color:#F8FCFE; }
.waterfull li .detail{ padding:4px 15px 10px 15px;}
.waterfull li .detail h5{ height:20px; line-height:20px; padding:6px 0px; border-bottom:1px dashed #eee; margin-bottom:10px;}
.waterfull li .detail h5 .title{ color:#777; float:left; font-weight:bold;}
.waterfull li .detail h5 .more{ color:#999; float:right}
.waterfull li .detail h5 .more a{ line-height:20px;}
.waterfull li .detail h5 .more a:link,
.waterfull li .detail h5 .more a:visited{ color:#999; text-decoration:none; font-size:12px;}
.waterfull li .detail h5 .more a:hover{ color:#E07835;}
.waterfull li .detail .detail-body{ color:#777;}

.waterfull li .detail .detail-body .detail-body-A1{}
.waterfull li .detail .detail-body .detail-body-A1 .detail-body-A1-item{ width:50%; float:left;}
.waterfull li .detail .detail-body .detail-body-A1 .detail-body-A1-item .detail-body-A1-item-content{ padding:5px 8px; margin-bottom:10px;}
/*.waterfull li .detail .detail-body .detail-body-A1 .detail-body-A1-item .detail-body-A1-item-content .infobox-green {color: #9abc32;}*/
.waterfull li .detail .detail-body .detail-body-A1 .detail-body-A1-item .detail-body-A1-item-content .infobox .infobox-icon{ float:left; width:42px; height:42px; line-height:42px;background-color:#CCC; border-radius:100%; border-bottom:2px solid #999; box-shadow:1px 0px 4px #ccc;}
.waterfull li .detail .detail-body .detail-body-A1 .detail-body-A1-item .detail-body-A1-item-content .infobox .infobox-data{ margin-left:55px;}
.waterfull li .detail .detail-body .detail-body-A1 .detail-body-A1-item .detail-body-A1-item-content .infobox .infobox-icon i{ font-size:20px;width:42px; height:42px; line-height:42px; text-align:center; color:#fff;}
.waterfull li .detail .detail-body .detail-body-A1 .detail-body-A1-item .detail-body-A1-item-content .infobox .infobox-data{}
.waterfull li .detail .detail-body .detail-body-A1 .detail-body-A1-item .detail-body-A1-item-content .infobox .infobox-data .infobox-data-number,
.waterfull li .detail .detail-body .detail-body-A1 .detail-body-A1-item .detail-body-A1-item-content .infobox .infobox-data .infobox-content{ height:20px; line-height:20px;}
.waterfull li .detail .detail-body .detail-body-A1 .detail-body-A1-item .detail-body-A1-item-content .infobox .infobox-data .infobox-content{ font-weight:bold;}

.waterfull li .detail .detail-body .detail-body-A2{}
.waterfull li .detail .detail-body .detail-body-A2 .detail-body-A2-item{ border-bottom:1px dashed #eee; padding:5px 0px;}
.waterfull li .detail .detail-body .detail-body-A2 .detail-body-A2-item:last-child{ border:none;}
.waterfull li .detail .detail-body .detail-body-A2 .detail-body-A2-item:first-child{ padding-top:0;}
.waterfull li .detail .detail-body .detail-body-A2 .detail-body-A2-item .fleft,
.waterfull li .detail .detail-body .detail-body-A2 .detail-body-A2-item .fright{height:22px; line-height:22px;}
.waterfull li .detail .detail-body .detail-body-A2 .detail-body-A2-item .fright i{ height:22px; line-height:22px;width:22px; text-align:center; color:#ccc;}
.waterfull li .detail .detail-body .detail-body-A2 .detail-body-A2-item a{ line-height:18px; padding:5px 0px; display:block; height:18px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;}
.waterfull li .detail .detail-body .detail-body-A2 .detail-body-A2-item a:link,
.waterfull li .detail .detail-body .detail-body-A2 .detail-body-A2-item a:visited{ color:#777; text-decoration:none;}
.waterfull li .detail .detail-body .detail-body-A2 .detail-body-A2-item a:hover{ color:#000;}
.waterfull li .detail .detail-body .detail-body-A2 .detail-body-A2-item .time{ margin-left:8px; color:#ccc; padding-bottom:5px;}


.waterfull li .detail .detail-body .detail-body-A3{}
.waterfull li .detail .detail-body .detail-body-A3 .detail-body-A3-item{ margin-bottom:15px;}
.waterfull li .detail .detail-body .detail-body-A3 .detail-body-A3-item .photo{}
.waterfull li .detail .detail-body .detail-body-A3 .detail-body-A3-item .photo img{ width:36px; height:36px; border-radius:3px; box-shadow:2px 2px 1px #eee;}
.waterfull li .detail .detail-body .detail-body-A3 .detail-body-A3-item .info{ margin-left:48px;}
.waterfull li .detail .detail-body .detail-body-A3 .detail-body-A3-item .info .name{ height:24px; line-height:24px;}
.waterfull li .detail .detail-body .detail-body-A3 .detail-body-A3-item .info .name span{ float:right; color:#ccc;}
.waterfull li .detail .detail-body .detail-body-A3 .detail-body-A3-item .info .word{ line-height:18px;}

.waterfull li .detail .detail-body .detail-body-A5 p{ display:block; height:20px; line-height:20px; padding:0px 0px 10px 0;}
.waterfull li .detail .detail-body .detail-body-A5 .detail-body-A5-item{ line-height:20px; padding:5px 0px; border-top:1px dashed #eee;}
.waterfull li .detail .detail-body .detail-body-A5 .detail-body-A5-item .time{ color:#ccc;}
.waterfull li .detail .detail-body .detail-body-A5 .detail-body-A5-item a.bold{ color:#C36;}
.waterfull li .detail .detail-body .detail-body-A5 .detail-body-A5-item .time a:link,
.waterfull li .detail .detail-body .detail-body-A5 .detail-body-A5-item .time a:visited{ color:#ccc!important;}
.waterfull li .detail .detail-body .detail-body-A5 .detail-body-A5-item .time a:hover{}

.page404{background-color:#fff; box-shadow:0px 1px 6px #ccc; text-align:center; padding:200px 0px;}
.page404 h6{ height:40px; line-height:40px; font-size:24px; color:#000;}
.page404 .info{ margin:20px 0px; color:#777;}
.page404 .uri{ color:#999;}

.col-x-1{ width:25%;}
.col-x-2{ width:50%;}
.col-x-3{ width:75%;}
.col-x-4{ width:100%;}
.col-s-1{ width:10%; }
.col-s-2{ width:20%;}
.col-s-3{ width:30%;}
.col-s-4{ width:40%;}
.col-s-5{ width:50%;}
.col-s-6{ width:60%;}
.col-s-7{ width:70%;}
.col-s-8{ width:80%;}
.col-s-9{ width:90%;}
.col-s-10{ width:100%;}
.col-s-1,
.col-s-2,
.col-s-3,
.col-s-4,
.col-s-5,
.col-s-6,
.col-s-7,
.col-s-8,
.col-s-9,
.col-s-10{display:inline-table; float:left;}

input[type="text"],
input[type="password"],
textarea{ border:1px solid #eee; background-color:none; height:20px; line-height:20px; color:#777; font-size:12px; font-family:'microsoft yahei',Arial, Helvetica, sans-serif; padding:3px 6px; border-radius:3px; box-shadow:0px 0px 1px #ccc inset; resize:none; outline:none}
select{ border:1px solid #eee; background-color:none; line-height:20px; color:#777; font-size:12px; font-family:'microsoft yahei',Arial, Helvetica, sans-serif; padding:3px 6px; border-radius:3px; box-shadow:0px 0px 1px #ccc inset;}
select option{ padding:3px 6px; outline:none;}
input[type="submit"],
input[type="button"],
input[type="reset"],
button{ border:1px solid #eee; background-color:#f9f9f9; color:#777; line-height:20px; font-family:'microsoft yahei',Arial, Helvetica, sans-serif; padding:5px 15px; box-shadow:1px 1px 5px #ccc; font-size:12px; cursor:pointer; outline:none}

.setform{ background-color:#fff; border-radius:3px; box-shadow:0px 1px 6px #ccc; margin-bottom:20px;}
.setform h5{ border-bottom:1px solid #eee; padding:20px 15px; color:#777; font-weight:bold;}
.setform td{ padding:10px 20px; border-right:1px solid #eee; border-bottom:1px solid #eee; color:#777;}
.setform tr td:first-child{ text-align:right;}
.setform tr:nth-child(2n+1) td{ background-color:#f9f9f9;}
.setform h5 input{ margin-left:196px;}
.sortSubmit{ margin-top:30px;}


.dd{
	position:relative;
	display:block;
	margin:0;
	padding:0;
	list-style:none;
}
.dd-list{
	display:block;
	position:relative;
	margin:0;
	padding:0;
	list-style:none;
	
}
.dd-list .dd-list{
	padding-left:49px
}
.dd-collapsed .dd-list{
	display:none
}
.dd-item,
.dd-empty,
.dd-placeholder{
	display:block;
	position:relative;
	margin:0;
	padding:0;
	border-radius:3px; 
	margin-top:13px;
}
.dd-handle,
.dd2-content{
	display:block; 
	height:36px;
	background:#fff;
	color:#777;
	text-decoration:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box; 
	line-height:36px;
}
.dd-handle span{ display:block; width:50px; height:24px; line-height:24px; color:#bfbfbf; font-size:16px;}
.dd-handle span:hover{ color:#999;}
.dd2-content{ 
	border-radius:3px;
	box-shadow:3px 3px 5px #ccc;
}
.dd-handle[class*="btn-"]:hover,
.dd2-content[class*="btn-"]:hover{
	opacity:.85;
	color:#FFF
}
.dd2-handle+.dd2-content,
.dd2-handle+.dd2-content[class*="btn-"]{
	padding-left:60px
}
.dd-handle[class*="btn-"]:hover,
.dd2-content[class*="btn-"] .dd2-handle[class*="btn-"]:hover+.dd2-content[class*="btn-"]{
	color:#FFF
}
.dd-item>button:hover ~ .dd-handle,
.dd-item>button:hover ~ .dd2-content{
	color:#777;
}
.dd-item>button:hover ~ .dd-handle[class*="btn-"],
.dd-item>button:hover ~ .dd2-content[class*="btn-"]{
	opacity:.85;
	color:#FFF
}

.dd2-handle:hover ~ .dd2-content[class*="btn-"]{
	opacity:.85;
	color:#FFF
}

.dd-item>button{
	display:block;
	position:relative;
	z-index:1;
	cursor:pointer;
	float:right;
	width:20px;
	height:36px;
	padding:0;
	white-space:nowrap;
	overflow:hidden;
	border:0;
	background:transparent;
	font-size:12px;
	line-height:1;
	text-align:center;
	top:0px;
	right:5px;
	color:#999;
	outline:none;
	box-shadow:none;
}
.dd-item>button:before{
	display:block;
	position:absolute;
	width:100%;
	text-align:center;
	font-weight:normal;
}
.dd-item>button:hover{
	color:#707070
}
.dd-item.dd-colored>button,
.dd-item.dd-colored>button:hover{
	color:#EEE
}
.dd-placeholder,
.dd-empty{
	margin:5px 0;
	padding:0;
	height:40px;
	background:#f9f9f9;
	border:2px dashed #ddd;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.dd-empty{
	border-color:#AAA;
	border-style:solid;
	background-color:#e5e5e5
}
.dd-dragel{
	position:absolute;
	pointer-events:none;
	z-index:999;
	opacity:.8
}
.dd-dragel>li>.dd-handle{
	color:#fff;
	background:#ccc;
	border-color:#d6e1ea;
	border-left:0px solid #777;
	position:relative
}
.dd-dragel>li>.dd-handle[class*="btn-"]{
	color:#FFF
}
.dd-dragel>.dd-item>.dd-handle{
	margin-top:0
}
.dd-list>li[class*="item-"]{
	border-width:0;
	padding:0
}
.dd-list>li[class*="item-"]>.dd-handle{
	border-left:1px solid;
	border-left-color:inherit
}
.dd-list>li>.dd-handle .sticker{
	position:absolute;
	right:0;
	top:0
}
.dd2-handle,
.dd-dragel>li>.dd2-handle{
	left:0;
	top:6px;
	width:50px;
	height:24px;
	margin:0;
	text-align:center;
	padding:0!important;
	line-height:24px;
	background:#fff;
	border-right:1px solid #eee;
	cursor:pointer;
	overflow:hidden;
	position:absolute;
	z-index:1; 
	border-radius:3px 0 0 3px;
}
.dd-handle img,
.dd2-handle img{ max-width:32px; max-height:32px; position:relative; top:3px;}
.dd2-handle i,
.dd-dragel>li>.dd2-handle i{ 
	display:none; 
	height:40px; 
	line-height:36px; 
	color:#fff; 
	width:36px;
}
.dd2-content[class*="btn-"]{
	text-shadow:none!important
}
.dd2-handle[class*="btn-"]{
	text-shadow:none!important;
	background:rgba(0,0,0,0.1)!important;
	border-right:1px solid #EEE
}
.dd2-handle[class*="btn-"]:hover{
	background:rgba(0,0,0,0.08)!important
}
.dd-dragel .dd2-handle[class*="btn-"]{
	border-color:transparent;
	border-right-color:#EEE
}
.dd2-handle.btn-yellow{
	text-shadow:none!important;
	background:rgba(0,0,0,0.05)!important;
	border-right:1px solid #FFF
}
.dd2-handle.btn-yellow:hover{
	background:rgba(0,0,0,0.08)!important
}
.dd-dragel .dd2-handle.btn-yellow{
	border-color:transparent;
	border-right-color:#FFF
}
.dd-item>.dd2-handle .drag-icon{
	display:none
}
.dd-dragel>.dd-item>.dd2-handle .drag-icon{
	display:inline
}
.dd-dragel>.dd-item>.dd2-handle .normal-icon{
	display:none
}

.modyiconbox{}
.modyiconbox .reloadicon{ height:60px;}
.modyiconbox .reloadicon span.fa{ display:block; height:60px; line-height:60px; color:#999; width:40px; text-align:center; margin:0 auto; font-size:28px;}
.modyiconbox .inputicon{ text-align:center; border:1px solid #eee; padding:3px 0px 3px 5px; margin-bottom:10px;}
.modyiconbox .inputicon input{ border:0px solid #eee; box-shadow:none; width:167px;float:left; border-radius:0; padding:0; margin:0; height:20px; line-height:20px; border-right:1px solid #eee;}
.modyiconbox .inputicon span{ float:right; display:block; width:30px; height:20px; line-height:20px; text-align:center; color:#999; cursor:pointer;}
.modyiconbox .inputicon span:hover{ color:#41b1e7;}

.login{ position:absolute; top:50%; left:50%; width:200px; height:160px; margin-left:-100px; margin-top:-80px; }
.login h5{ height:30px; line-height:30px; color:#777; font-weight:bold; text-align:center; margin-bottom:10px; font-size:14px;}
.login .param{ background-color:#fff; border:1px solid #ddd; padding:5px 8px; border-radius:3px; margin-bottom:10px;}
.login .param i{ height:20px; line-height:20px; display:block; float:left; font-size:14px; margin-right:8px; color:#999;}
.login .param input.col,
.login .param input.col{ border:none; background:none; height:20px; line-height:20px; outline:none; color:#999; box-shadow:none;}
.login .submit{ border:1px solid #ddd; height:30px; line-height:30px; color:#777; width:100%; background-color:#fff; box-shadow:0px 1px 3px #ddd; cursor:pointer; text-align:center; border-radius:3px;}
.login .submit:hover{ background-color:#e9e9e9}
.login .submit:active{ box-shadow:0px 0px 3px #eee inset; background-color:#ddd}


#cateTitle{ height:30px; color:#777; font-weight:bold; line-height:30px;}
#cateTitle .icon{ width:50px; text-align:center;}
#cateTitle .name{ padding-left:20px; width:250px;}
#cateTitle .des{ padding-left:10px; width:300px;}
#cateTitle .tool{ width:100px; text-align:center;}
#cateTitle .out{ width:80px;}
.cate_name,
.cate_des,
.cate_out,
.outip{ display: block; float:left;}
.cate_name{ width:250px;}
.dd-list .dd-list .cate_name{ width:200px;}
.cate_des{ color:#bbb; width:320px;}
.cate_tool{ float:right; margin-right:10px;}
.cate_tool i{ height:36px; line-height:36px; display:block;}
.cate_tool a{ display:inline-block; text-decoration:none; color:#999; margin-left:5px;}
.cate_out,
.cate_out i{ width:80px; height:36px; display:block; line-height:36px; color:#bbb;}

#icon-box{ background-color:#fff; border:1px solid #ccc;  padding:0px 10px 10px 10px; width:206px; border-top:none; box-shadow:2px 2px 1px #ddd;}
#icon-box li{ float:left; border:1px solid #eee; margin:5px; padding:3px;}
#icon-box li.current{ border:1px solid #F39}
#icon-box li img{ width:16px; height:16px; cursor:pointer;}

#articles{}
#articles .list{ width:100%;}
#articles .list .list-container{}
#articles .list .list-container .list-top{ color:#777; font-weight:bold; height:30px; line-height:30px; margin-bottom:10px;}
#articles .list .list-container .list-top span{ margin-right:10px; font-weight:normal;}
#articles .list .list-container .list-content{}
#articles .list .list-container .list-content li{ width:275px; margin-right:20px; margin-bottom:20px; background-color:#fff; color:#777;box-shadow: 2px 3px 10px #ccc; border-radius:3px; overflow:hidden;}
#articles .list .list-container .list-content li:hover{background-color:#F8FCFE;}
#articles .list .list-container .list-content li .image{ text-align:center; margin-top:4px; margin-bottom:20px;}
#articles .list .list-container .list-content li img{ max-width:268px; margin:0 auto;}
#articles .list .list-container .list-content li .title a:link,
#articles .list .list-container .list-content li .title a:visited{ padding:5px 10px; font-weight:bold; height:20px; line-height:20px; margin-bottom:10px; color:#777; text-decoration:none; display:block;}
#articles .list .list-container .list-content li .title a:hover{ color:#333;}
#articles .list .list-container .list-content li .des{ padding:0px 10px; line-height:20px; color:#999; margin-bottom:10px;}
#articles .list .list-container .list-content li .info{ padding:0px 10px; line-height:20px; height:20px; overflow:hidden; margin-bottom:5px; color:#ccc;}
#articles .list .list-container .list-content li .tooled{ text-align:center; border-top:1px solid #eee; background-color:#f9f9f9; height:30px;}
#articles .list .list-container .list-content li .tooled a:link,
#articles .list .list-container .list-content li .tooled a:visited{ text-decoration:none; color:#999;}
#articles .list .list-container .list-content li .tooled a:hover{ color:#777;}
#articles .list .list-container .list-content li .tooled a{float:left; width:50%; height:30px; line-height:30px;}
#articles .list .list-container .list-content li .tooled a i{ display:block; line-height:30px; text-align:center;}
#articles .tool{ margin-left:60%; color:#777;}
.pannel{ padding:5px 10px; margin-bottom:20px;}
.pannel h6{ line-height:20px; color:#777; font-weight:bold; margin-bottom:20px;}
.pannel h6 i{ display:inline-block; width:26px; height:16px; line-height:16px; border-right:1px solid #ccc; text-align:center; padding:2px 0px; margin-right:5px; font-weight:normal;}
.pannel h6 span{ margin-left:10px; color:#ccc; font-weight:normal;}

#articles .tool .pannel ul.clearfix li{ float:left;}
#articles .tool .pannel a:link,
#articles .tool .pannel a:visited{ color:#777; text-decoration:none;}
#articles .tool .pannel a:hover{ color:#333;}
#articles .tool .pannel a.root,
#articles .tool .pannel div.root{ display:block; height:20px; line-height:20px; font-weight:bold;}
#articles .tool .pannel li.root{ margin-bottom:10px;}
#articles .tool .pannel ul.child{ margin-left:50px;}
#articles .tool .pannel a.child{ padding:0px 20px; display:block; float:left; border:1px solid #ccc; background-color:#f9f9f9; text-align:center; height:26px; line-height:26px; text-align:center; border-radius:3px; box-shadow:1px 3px 5px #ccc; margin:0px 10px 10px 0px;}
#articles .tool .pannel ul.root{ margin-left:37px;}
#articles .tool .pannel table td{ padding:5px 0px;}
#articles .tool .pannel .tag-action{ margin-left:37px;}
#articles .tool .pannel .tags .item{ display:inline-block; outline:none; background-color:#fff; padding:5px 10px; border-radius:3px; border:1px solid #ccc; box-shadow:0px 0px 8px #ccc; margin:0px 5px 5px 0px;}
#articles .tool .pannel .tags .item span{ display:inline-block; min-width:50px; margin-right:3px; outline:none;}
#articles .tool .pannel .tags{padding: 0px 10px 0px 37px; margin-bottom:10px;}
#articles .tool .pannel a.current{ border:1px solid #1779A8; background-color:#F8FCFE;}
#articles .tool .pannel .photo{ padding-left:37px; position:relative;}
#articles .tool .pannel .photo img{ max-width:200px; box-shadow:0px 0px 10px #ccc; border-radius:5px; background-color:#fff;}
#articles .tool .pannel .photo a{ position:absolute; top:10px; left:270px;}

.arc-title{ margin-bottom:20px;}
.arc-title input{ padding: 8px 0px; border:1px solid #eee; text-align:center; font-size:14px; font-weight:bold;box-shadow: 0px 0px 10px #ccc;}
.arc-content{ margin:0;}
.mon-left{ float:left; width:60%;}
.mon-right{ margin-left:60%;}
.arc-des{ padding:10px; background-color:#fff; margin:0px 10px 0 0; border-radius:3px;box-shadow:0px 1px 3px #ddd; margin-bottom:20px;}
.arc-des textarea{ padding:0; margin:0; width:100%; height:80px; border:0; background-color: transparent; box-shadow:none;}
.arc-html{ margin:0 10px 0 0;box-shadow:0px 1px 3px #ddd;}

#centeror{ background-color:#fff; z-index:99999; border-radius:3px;}
.uploadimage{ padding:20px 30px;}
.uploadimage .file{ height:30px; line-height:30px;}
.uploadimage .file input{ color:#777; }
.uploadimage .submit{margin-top:10px;}
.mas{ padding-left:37px; margin-bottom:10px;}
.mas a{ float:none!important; margin-right:10px; display:inline-block!important;}

#loginform{ width:250px; height: 40px; display:block; position:absolute; top:50%; left:50%; margin-top:-20px; margin-left:-125px; text-align:center; background-color:#fff; border:1px solid #ccc; border-radius:3px; box-shadow:1px 1px 10px #ccc;}
#loginform:link,
#loginform:visited{ color:#777; text-decoration:none;}
#loginform:hover{ color:#000;}
#loginform strong,
#loginform span{ display:block;}
#loginform strong{ height:40px; line-height:40px; font-size:14px;}
#loginform span{ height:20px; line-height:20px;}
#loginform strong i{ margin-right:10px;}

.blocks{ background-color:#fff; margin-bottom:20px; box-shadow:1px 1px 10px #ccc; padding:5px 10px; color:#777; position:relative; height:40px; border-radius:3px;}
.blocks .name,
.blocks .mark{ width:150px; text-align:center;}
.blocks .p1{ border-right:1px solid #eee; position:absolute; top:5px; left:0px; bottom:5px;}
.blocks .p2{ margin-left:170px; margin-right:80px; padding:10px 0px;}
.blocks .name{ height:20px; line-height:20px; font-weight:bold;}
.blocks .mark{ height:18px; line-height:18px; color:#ccc;}
.blocks .p3{ width:60px;  border-left:1px solid #eee;}
.blocks .p3 a{ display:block; height:20px; line-height:20px; width:60px; text-align:center;}
.blocks .p3 a i{ margin-right:0px; display:inline-block; width:20px; height:20px; text-align:center;}
.blocks .p3 a:link,
.blocks .p3 a:visited{ color:#777; text-decoration:none;}
.blocks .p3 a:hover{ color:#999;}

.modifylevel{ width:400px; padding:30px 50px; color:#777;}
.modifylevel td{ padding:3px 5px 5px 5px;}
.modifylevel tr td:first-child{ text-align:right;}
.groups-list p{ line-height:20px; border-bottom:1px dashed #ddd; padding:3px 5px;}
.groups-list p input{ position:relative; top:2px;}
.groups-list .tools{ padding:10px 0px 0px 10px; text-align:right;}
.groups-list .tools a{ margin-left:10px;}
.groups-list .tools a:link,
.groups-list .tools a:visited{ color:#777; text-decoration:none;}
.groups-list .tools a:hover{ color:#999;}
.groups-list p span{ width:150px; display:inline-block;}
.groups-list p strong{ color:#ccc;}

#versions{}
#versions .zone{}
#versions .zone .clearfix{border-bottom:1px dashed #eee; padding:5px 0px;}
#versions .zone .ver{ text-align:center; width:50px; height:20px; line-height:20px;}
#versions .zone .info{ margin-left:60px; line-height:20px;}
#versions .zone a:link,
#versions .zone a:visited{ color:#1a6cc1; text-decoration:none;}
#versions .zone a:hover{ color:#777;}
#versions .zone .info .tool{ margin-top:5px;}
#versions .zone .info .date{ color:#ccc;}
#versions .zone .title{ font-weight:bold;}

#user{}
#user .top{ margin-bottom:20px; height:32px;}
#user .top .achors{ height:30px; line-height:30px; color:#777;}
#user .top .achors a{ color:#777; text-decoration:none;}
#user .top .search{ background-color:#eee; height:30px; border:1px solid #ccc; border-radius:3px; overflow:hidden; box-shadow:0px 0px 10px #ccc;}
#user .top .search input{ background-color:#eee!important; border:none!important; box-shadow:none; height:30px; padding:0; width:300px; padding:0px 10px;}
#user .top .search button{ background-color:#ddd; border:none; box-shadow:none; height:30px; margin:0;}
#user .list{}
#user .list .item{ width:410px;}
#user .list .item .dis{ padding:10px;}
#user .list .item .img{ width:36px; height:36px; background-color:#fff; padding:1px;}
#user .list .item .img img{width:36px; height:36px; border:0;}
#user .list .item .info{ margin-left:50px; background-color:#fff; padding:3px 10px; box-shadow: 0px 1px 6px #ccc; line-height:20px; border-radius:3px; color:#777;}
#user .list .item .info .name{ padding:5px 0px; font-weight:bold; height:20px;}
#user .list .item .info .name a{ color:#999; text-decoration:none; margin-right:10px;}
#user .list .item .info .name a i{ display:block; line-height:20px;}
#user .list .item .info .des{}
#user .list .item .info .des p{ border-top:1px dashed #eee; line-height:20px; padding:3px 0px;}
#user .list .item .info .des p.group span a{ margin-left:6px;}
#user .list .item .info .des p i{ margin-right:8px;}
#user .list .item .info:hover{background-color:#F8FCFE;}

.pages{}
.pages span{ float:left; height:26px; line-height:26px; text-align:center; display:block; width:26px;background-color:#41b1e7; margin-right:5px; color:#fff;}
.pages a{ float:left; height:26px; line-height:26px; text-align:center; display:block; width:26px; margin-right:5px; color:#555; }

#update{ background-color:#fff; padding:20px; box-shadow: 0px 1px 6px #ccc; border-radius:3px; color:#777;}
#update h6{ height:30px; line-height:30px; padding:5px 0px;}
#update thead th,
#update tbody td{ height:20px; line-height:20px; padding:5px 10px;border-top:1px dashed #eee;}
#update thead th{ font-weight:bold;}
#update .tleft{ text-align:left};
#update .tcenter{ text-align:center;}
#update .tright{ text-align:right;}

.category-pull-list{ border:1px solid #ccc; padding:5px 20px 20px 20px; margin-bottom:10px; background-color:#eee;}
.category-pull-list .mas{ border-bottom:1px dashed #ccc; padding:10px 0px;}
.category-pull-list .mas a:link,
.category-pull-list .mas a:visited{ color:#777; font-weight:bold;}
.category-pull-list .mas a:hover{ color:#000;}
.category-pull-list .mas a{ margin-right:20px;}
.category-pull-list li a{ height:30px; line-height:30px;}
.category-pull-list li a.root{ width:130px; text-align:right; font-weight:bold; padding-right:30px;float:left; }
.category-pull-list li .rise{ margin-left:160px;}
.category-pull-list li a.child{ width:150px; text-align:left; display:inline-block}
.category-pull-list li a.child:link,
.category-pull-list li a.child:visited{ color:#777;}
.category-pull-list li a.child:hover{ color:#000;}
.category-pull-list li a.current:link,
.category-pull-list li a.current:visited{ color:#ff0000;}

.colpase{ display:none;}
.plugins > .sidebar > .sidezone{ display:block;}
.navdirty{ display:none;}
.navdirty h6{ height:30px; padding:0px 10px; color:#555; line-height:30px; font-size:16px; font-weight:bold; padding-top:10px; margin-bottom:10px;}
.navdirty a{ display:block; height:30px; line-height:30px; padding:5px 10px; font-size:14px;}
.navdirty a i{}
.navdirty a span{ margin-left:10px;}
.navdirty a:link,
.navdirty a:visited{ color:#fff;}
.navdirty a:hover{ color:#CCC; background-color:#444;}

.plu-navs{ height:32px; border-bottom:1px solid #ddd;}
.plu-navs a{ display:block; height:32px; padding:0px 15px; line-height:32px; font-size:14px; margin:0px 2px;}
.plu-navs a i{ line-height:32px;}
.plu-navs a span{ margin-left:8px;}
.plu-navs a.left{ float:left;}
.plu-navs a.right{ float:right;}
.plu-navs a:link,.plu-navs a:visited{ color:#777;}
.plu-navs a:hover{ color:#555;}
.plu-navs a.active{ background-color:#fff; border-radius:4px 4px 0 0; box-shadow:0px 0px 8px #ccc;}
.plu-navs a:first-child{ margin-left:25px;}
.plu-navs a:last-child{ margin-right:0px;}
.plu-content{ background-color:#fff; padding:0px 0px; box-shadow:0px 0px 8px #ccc; border:1px solid #ddd; border-top:0; color:#777; font-size:12px; line-height:20px;}
.plu-content .items{ padding:15px 25px; border-bottom:1px solid #ddd;}
.plu-content .items:last-child{ border-bottom:none;}
.plu-content .items:hover{ background-color:#f9f9f9;}
.plu-content .items .icon{ float:left;}
.plu-content .items .icon img{ width:50px; position:relative; top:20px;}
.plu-content .items .info{ margin-left:75px;}
.plu-content .items .info h6{ color:#444; font-weight:bold; height:20px; line-height:20px; margin-bottom:3px;}
.plu-content .items i{ margin-right:5px;}
.plu-content .items a{ margin-right:15px;}
.plu-content .items a:link,
.plu-content .items a:visited{ color:#999;}
.plu-content .items a:hover{ color:#666;}
.plu-content .items .des{ margin:3px 0px;}
.plu-content .stop{ opacity:.6;}
.plu-content .stop:hover{ opacity:1;}
.plu-content .actived,
.plu-content .actived:hover{ background-color:#f9f9f9}
.plu-content .items .info td{ padding:5px 0px 3px 0;}
.plu-content .pluset h6{ margin-bottom:0px!important; background-color:#fff; width:150px; position:relative; top:-31px; height:30px!important; line-height:30px!important; text-align:center; border:1px solid #ddd;}
.plu-content .pluset table{ position:relative; top:-20px;}
.plu-content .items .info td input[type='submit'],
.plu-content .items .info td input[type='reset'],
.plu-content .items .info td input[type='button']{ background-color:#fff; padding:2px 20px;}

.plu-table td{ padding:0px 0px; border-bottom:1px solid #eee;}
.plu-table tr td.dt{ text-align:center; border-right:1px solid #eee; font-weight:bold;}
.plu-table td p{ padding:3px 10px; border-bottom:1px dashed #ddd;}
.plu-table td p span{ color:#1a6cc1}
.plu-table td p span input{ position:relative; top:2px;}
.plu-table td p strong{ margin-left:10px;}
.plu-table td .tools{ padding:5px 15px; background-color:#f9f9f9;}
.plu-table td .tools a:link,
.plu-table td .tools a:visited{ color:#999;}
.plu-table td .tools a:hover{ color:#777;}
.plu-table td .tools a{ margin-right:10px;}
.plu-table thead th{border-bottom:1px solid #eee; font-weight:bold; color:#000; height:50px; line-height:50px;}
.plu-table thead th.tname{ text-align:center;border-right:1px solid #eee;}
.plu-table thead th.tcontent{ text-align:left; padding:0px 30px;}

#user-box{ position:relative; height:100%;}
#user-box .searchbox{ width:600px; position:absolute; top:150px; left:50%; margin-left:-300px; background-color:#fff; box-shadow:0px 0px 10px #ccc; box-shadow:0px 0px 10px rgba(0,0,0,.1);}
#user-box .searchbox .search-all{ float:left; width:40px; height:40px; text-align:center; line-height:40px; display:block; border-right:1px solid #eee;}
#user-box .searchbox .do-search{ float:right; width:40px; height:40px; text-align:center; line-height:40px; display:block; border-left:1px solid #eee;}
#user-box .searchbox a i{ display:block;width:40px; height:40px;text-align:center; line-height:40px; font-size:16px; color:#777;}
#user-box .searchbox a:hover i{ background-color:#f9f9f9;}
#user-box .searchbox .search-input{ margin-left:50px; margin-right:50px; height:40px;}
#user-box .searchbox .search-input input{ width:100%; background-color: transparent; border:none; box-shadow:none; height:20px; line-height:20px; padding:10px 0px; font-size:14px;}
#user-box .searchbox-top{top:0px;left:0px; margin-left:0px; width:100%;}
#user-box .userbox{ position:absolute; top:60px;left:0px; width:100%;}
#user-box .userbox .dump{ background-color:#fff; padding:20px 20px; box-shadow:0px 0px 10px #ccc; box-shadow:0px 0px 10px rgba(0,0,0,.1); color:#777;}
#user-box .userbox .items{ float:left; margin:20px; width:100px; height:68px; cursor:pointer;}
#user-box .userbox .items .face{ width:42px; height:42px; margin:0 auto; margin-bottom:5px;}
#user-box .userbox .items .face img{ width:36px; height:36px; border-radius:3px; box-shadow:0px 0px 10px #ccc; box-shadow:0px 0px 10px rgba(0,0,0,.1); background-color:#fff; padding:3px;}
#user-box .userbox .items .nick{ height:20px; line-height:20px; width:100px; text-align:center; color:#555;}
#user-box .detailbox{ position: absolute; top:80px; left:0px; width:100%; height:250px; display:none;}
#user-box .userbox-bom{ top:380px;}
#user-box .detailbox .details{ width:600px; margin:0 auto;}
#user-box .detailbox .details .face{}
#user-box .detailbox .details .face img{ width:36px; height:36px; padding:1px; background-color:#fff;box-shadow:0px 0px 10px #ccc; box-shadow:0px 0px 10px rgba(0,0,0,.1); float:left;}
#user-box .detailbox .details .info{ margin-left:55px; background-color:#fff; padding:0;background-color:#fff;box-shadow:0px 0px 10px #ccc; box-shadow:0px 0px 10px rgba(0,0,0,.1);}
#user-box .detailbox .details .info .p{ padding-left:15px; padding-right:15px;line-height:20px;border-bottom:1px dashed #eee; padding-top:5px; padding-bottom:5px; color:#999;}
#user-box .detailbox .details .info .p:last-child{ border-bottom:0;}
#user-box .detailbox .details .info .p i{ margin-right:0px; display:inline-block; width:20px;}
#user-box .detailbox .details .info .p span{ margin-right:5px;}
#user-box .detailbox .details .info .p b{ font-weight:normal;}
#user-box .detailbox .details .info .p b a{ margin-left:10px;}
#user-box .detailbox .details .info .p b a:link,
#user-box .detailbox .details .info .p b a:visited{ color:#999;}
#user-box .detailbox .details .info .p b a:hover{ color:#777;}
#user-box .detailbox .details .info .nick{ color:#777; font-weight:bold; border-bottom:1px solid #eee; background-color:#f9f9f9; height:20px;}
#user-box .detailbox .details .info .nick i{ display:block; width:20px; height:20px; line-height:20px; text-align:center;}
#user-box .detailbox .details .info .nick a:link,
#user-box .detailbox .details .info .nick a:visited{ color:#999;}
#user-box .detailbox .details .info .nick a:hover{ color:#777;}
#user-box .userbox .pages{ padding-left:51px;}

.themefixs{ position:fixed; bottom:0px; right:0px; width:100%; height:400px;}
.themefixs .themefixs-list{ height:300px; margin-bottom:20px; background-color:#fff; background-color:rgba(255,255,255,.8); width:100%; overflow:hidden; box-shadow:0px 1px 10px rgba(0,0,0,.2)}
.themefixs .themefixs-tabs{ height:60px;}
.themefixs .themefixs-tabs.resize{ margin-top:320px;}
.themefixs .themefixs-tabs .themefixs-tabs-wrap{ float:right;border:1px solid #ccc; margin-right:20px;box-shadow:0px 1px 10px rgba(0,0,0,.2) }
.themefixs .themefixs-tabs a{ display:block; float:left; background-color:#fff; height:60px;line-height:60px; width:150px; text-align:center;}
.themefixs .themefixs-tabs a:first-child{ border-right:1px solid #eee;}
.themefixs .themefixs-list .themefixs-list-wrap{ padding:20px; overflow:hidden;}/*260px*/
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-hidden{ width:100%; height:100%; overflow:hidden;}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items{ height:260px;}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item{ width:238px; margin-right:15px; float:left; cursor:pointer;}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-image{ width:238px; height:168px; background-color:#ececec; margin-bottom:1px; text-align:center; position:relative; }
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-image .bg{background:url(../img/bj.jpg); width:220px; height:150px; position:absolute; top:9px; left:9px;}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-image .pos{ position:relative; width:100%; height:100%; overflow:hidden;}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-image .pos .tip{height:30px; position:absolute; bottom:-30px; left:0px; width:100%; overflow:hidden;}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-image .pos .tip a{ display:block; height:30px; line-height:30px;}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-image .pos .tip a:link,
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-image .pos .tip a:visited{ color:#fff;}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-image .pos .tip a:hover{ color:#fff;}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-image img{ width:220px; height:150px; }
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-text{ width:236px; height:93px; border:1px solid #ececec; background-color:#ececec; overflow:hidden;}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-text h6, 
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-text p {
	margin-left: 10px;
	margin-right: 10px;
	line-height:20px;
}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-text h6{
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#515151;
	margin-top:13px;
}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-text p {
	font-size: 11px;
	font-family: Arial;
	color: #939393;
	line-height: 20px;
	height:20px;
}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-text p a:link,
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-text p a:visited{ color:#ccc;}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-text p a:hover{ color:#555;}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-text p a i{ margin-right:5px;}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item:hover .themefixs-list-wrap-item-image,
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item.active .themefixs-list-wrap-item-image{background-color: rgb(153,194,40);}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item:hover .themefixs-list-wrap-item-text,
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item.active .themefixs-list-wrap-item-text{ border-color:rgb(153,194,40); background-color:#fff;}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item:hover .themefixs-list-wrap-item-image .tip{ height:30px;background-color: rgb(153,194,40); color:#fff; line-height:30px; bottom:0px;}

.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-image .setup{ position:absolute; border:3px solid rgb(153,194,40); width:40px; height:40px; border-radius:100%; top:-52px;left: 95px; background-color:rgba(0,0,0,.8);}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item .themefixs-list-wrap-item-image .setup i{ width:40px; height:40px; display:block; text-align:center; line-height:40px; font-size:18px; color:#fff;)}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item:hover .themefixs-list-wrap-item-image .setup{ top:52px;}
.themefixs .themefixs-list .themefixs-list-wrap .themefixs-list-wrap-items .themefixs-list-wrap-item:last-child{ margin-right:0px;}
#theme{ margin-bottom:425px;}
.theme-image{ width:64%;background-color:#fff; box-shadow:0px 0px 20px rgba(0,0,0,.5)}
.theme-image .theme-image-box{padding:20px;}
.theme-image .theme-image-box .imgs{ width:100%;}
.theme-image .theme-image-box .imgs img{ width:100%;}
.theme-info{ margin-left:64%;}
.theme-info h1{ height:50px; font-size:24px; height:50px; line-height:50px; color:#777; margin-bottom:10px; padding:0px 20px;}
.theme-info p{ line-height:20px;color:#999; font-size:14px; padding: 13px 30px; border-bottom:1px solid #eee;}
.theme-info p i{ margin-right:10px;}
.theme-info .infos{ background-color:#fff; box-shadow:0px 0px 20px rgba(0,0,0,.5)}
.theme-info .author{}
.theme-info .mail{}
.theme-info .link{}
.theme-info .mark{}
.theme-info .folder{}
.theme-info .des{}

#artlist{}
#artlist .art-side{ float:left; width:200px;}
#artlist .art-wrap{ margin-left:220px;}
#artlist .art-side .write{ background-color:#41b1e7; color:#fff; display:block; margin-bottom:20px; width:100%; height:50px; line-height:50px; text-align:center; font-size:16px; font-weight:bold; box-shadow:0px 0px 10px rgba(0,0,0,.2); border-radius:3px;}
#artlist .art-side .write:hover{ background-color:#fff; color:#41b1e7}
#artlist .art-side .art-cate-zone{ background-color:#fff; box-shadow:0px 0px 10px rgba(0,0,0,.2);}
#artlist .art-side .write i{ margin-right:5px;}
#artlist .art-side .art-cate-zone a{ display:block; line-height:30px; padding:5px 15px; height:30px;}
#artlist .art-side .art-cate-zone a i{ margin-right:5px;}
#artlist .art-side .art-cate-zone > ul{}
#artlist .art-side .art-cate-zone > ul > li{}
#artlist .art-side .art-cate-zone > ul > li > a{ border-bottom:1px solid #eee; background-color:#f9f9f9;}
#artlist .art-side .art-cate-zone > ul > li > ul{}
#artlist .art-side .art-cate-zone > ul > li > ul > li{}
#artlist .art-side .art-cate-zone > ul > li > ul > li > a{ padding-left:30px; border-bottom:1px dashed #eee;}
#artlist .art-side .art-cate-zone a:link,
#artlist .art-side .art-cate-zone a:visited{ color:#777;}
#artlist .art-side .art-cate-zone a:hover{background-color:#41b1e7; color:#fff; border-bottom:1px solid #41b1e7}
#artlist .art-side .art-cate-zone a.active:link,
#artlist .art-side .art-cate-zone a.active:visited{background-color:#41b1e7;color:#fff;border-bottom:1px solid #41b1e7}
#artlist .art-side .art-cate-zone a.active:hover{background-color:#41b1e7;color:#fff;border-bottom:1px solid #41b1e7 }
#artlist .art-wrap .art-zone{ }
#artlist .art-wrap .art-zone .art-none{ color:#777; padding:30px 50px;background-color:#fff; box-shadow:0px 0px 10px rgba(0,0,0,.2);}
#artlist .art-wrap .art-zone .art-none i{ margin-right:5px;}
#artlist .art-wrap .art-zone .art-detail{ margin-bottom:20px;background-color:#fff; box-shadow:0px 0px 10px rgba(0,0,0,.2);}
#artlist .art-wrap .art-zone .art-detail h6{ padding:5px 15px; height:30px; line-height:30px; border-bottom:1px solid #eee;background-color:#f9f9f9;}
#artlist .art-wrap .art-zone .art-detail h6 a:link,
#artlist .art-wrap .art-zone .art-detail h6 a:visited{ color:#777; font-weight:bold;}
#artlist .art-wrap .art-zone .art-detail h6 a:hover{color:#41b1e7; }
#artlist .art-wrap .art-zone .art-detail .art-msg{ padding:15px 15px;}
#artlist .art-wrap .art-zone .art-detail .art-msg .img{width:220px; float:left;}
#artlist .art-wrap .art-zone .art-detail .art-msg .img a{}
#artlist .art-wrap .art-zone .art-detail .art-msg .img a img{ width:220px; border-radius:5px;}
#artlist .art-wrap .art-zone .art-detail .art-msg .info{ margin-left:240px; color:#999; line-height:20px;}
#artlist .art-wrap .art-zone .art-detail .art-msg .info .des{ padding:5px 0px;}
#artlist .art-wrap .art-zone .art-detail .art-msg .info .action{ padding:10px 0px;}
#artlist .art-wrap .art-zone .art-detail .art-msg .info .action a{ margin-right:15px;}
#artlist .art-wrap .art-zone .art-detail .art-msg .info .action a i{ margin-right:3px;}
#artlist .art-wrap .art-zone .art-detail .art-msg .info .action a:link,
#artlist .art-wrap .art-zone .art-detail .art-msg .info .action a:visited{ color: #999; }
#artlist .art-wrap .art-zone .art-detail .art-msg .info .action a:hover{ color:#41b1e7;}
#artlist .art-wrap .art-zone .art-pad{ padding-bottom:20px;}
/*#artlist .art-wrap .art-zone .art-detail:nth-child(2n+2) .art-msg .img{ float:right;}
#artlist .art-wrap .art-zone .art-detail:nth-child(2n+2) .art-msg .info{ margin-right:240px; margin-left:0px;}*/
#artlist .art-wrap .art-zone .dc-title{ height:30px; padding:5px 0px;background-color:#fff; box-shadow:0px 0px 10px rgba(0,0,0,.2); margin-bottom:20px;}
#artlist .art-wrap .art-zone .dc-title input{ background-color:transparent; border:0px; box-shadow:none; height:30px; line-height:30px; padding:0 10px; margin:0; text-align:center; font-size:14px; font-weight:bold; color:#999;}
#artlist .art-wrap .art-zone .dc-html{ margin-bottom:20px;}
#artlist .art-wrap .art-zone .dc-des{ margin-bottom:20px;background-color:#fff; box-shadow:0px 0px 10px rgba(0,0,0,.2);}
#artlist .art-wrap .art-zone .dc-des textarea{background-color:transparent; border:0px; box-shadow:none;padding:10px; margin:0;}
#artlist .art-wrap .art-zone .dc-tags{ margin-bottom:20px;background-color:#fff; box-shadow:0px 0px 10px rgba(0,0,0,.2);}
#artlist .art-wrap .art-zone .dc-tags .tag-title{ height:30px; line-height:30px; padding:5px 15px; background-color:#f9f9f9; border-bottom:1px solid #eee; color:#777;}
#artlist .art-wrap .art-zone .dc-tags .tag-title i{ margin-right:5px;}
#artlist .art-wrap .art-zone .dc-tags .tags{ padding:15px;}
#artlist .art-wrap .art-zone .dc-tags .tags .tag-item{ height:20px; line-height:20px; float:left; padding:5px; border:1px solid #eee; margin-right:10px; margin-bottom:10px;}
#artlist .art-wrap .art-zone .dc-tags .tags .tag-item input{ background-color:transparent; border:0; padding:0; margin:0; box-shadow:none; float:left}
#artlist .art-wrap .art-zone .dc-tags .tags .tag-item i{ float:left; height:20px; width:20px; line-height:20px; color:#777; border-left:1px solid #eee; text-align:center; padding-left:5px; cursor:pointer;}
#artlist .art-wrap .art-zone .dc-tags .tag-action{ padding:0px 15px 15px 15px;}
#artlist .art-wrap .art-zone .dc-submit{ margin-bottom:50px; padding:0px;}
#artlist .art-wrap .art-zone .dc-submit input{ background-color:#41b1e7; color:#fff; width:100%; height:50px; line-height:50px; padding:0; margin:0; box-shadow:1px 3px 10px rgba(0,0,0,.5); border:0; font-size:16px; font-weight:bold;}

@media (max-width: 1120px){
	.container{ position:relative;}
	.plugins > .fleft{ float:none!important;}
	.plugins > .sidebar{ margin-bottom:20px; position:absolute; top:0px; right:0px; z-index:999}
	.plugins > .content{ margin-left:0;}
	.colpase{ display:block;height:40px; float:right; line-height:40px; width:40px;border-left:1px solid #eee; }
	.colpase i{ display:inline-block; width:40px; line-height:40px;text-align:center; font-size:18px; height:40px; background-color:#f9f9f9; border-radius:0px 3px 3px 0px; overflow:hidden;}
	.plugins > .sidebar > .sidezone{ display:none;}
	.colpase:link,
	.colpase:visited{ color:#999;}
	.colpase:hover{ color:#777}
	.sidebar{ width:auto!important;}
}

@media (max-width: 1062px){
	.header .navcolpase{ display:block;}
	#navachor{ display:none;}
	.logo.fleft{ float:none; text-align:center;}
	#page{ position:absolute; top:0px; left:0px; width:100%;box-shadow:-1px -10px 10px rgba(0,0,0,.8)}
	.navdirty{ display:block; background-color:#333;}
}

@media (max-width: 970px){
	.hide-des{ display:none!important;}
}

@media (max-width: 665px){
	.hide-out{ display:none!important;}
}
@media (max-width: 570px){
	.hide-ip{display:none!important;}
}