@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	/*vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input,textarea,select{ outline:none;}
html, body{ font-family:'microsoft yahei',Arial, Helvetica, sans-serif; font-size:12px;}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */
.fleft{ float:left;}
.fright{ float:right;}

.imitem {
	width: 580px;
	height: 300px;
	background: #fff;
	margin-bottom: 40px;
	margin-right: 20px;
	float: left;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	overflow:hidden;
}
.imhead {
	height: 60px;
	border-bottom: #f0f1f1 1px solid;
	text-indent: 18px;
	line-height: 60px;
	font-size: 18px;
	color: #6b6b6b;
}
.immore {
	height: 60px;
	width: 99px;
	display: block;
	float: right;
	line-height: 60px;
	text-align: center;
	font-size: 14px;
	color: #7e7e7e;
	border-left: #f0f1f1 1px solid;
	text-indent: 0;
}


.wrap {
	width:1780px;
}
#content .citem:nth-child(6n-1) {
	margin-right:0
}
.art-content{
	width: 1180px;
	background: #fff;
	margin:0 auto;
	margin-bottom: 40px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.art-comments{
	width: 1180px;
	margin:0 auto;
	background: #fff;
	margin-bottom: 40px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.art-detail img{ max-width:1100px!important;}
.imitem:nth-child(3n+0){ margin-right:0}
@media screen and (max-width: 1880px) {
.wrap {
	width: 1180px;
}
.imitem:nth-child(3n+0) {
	margin-right: 20px
}
.imitem:nth-child(2n+0) {
	margin-right: 0
}
.art-content{
	width: 880px;
}
.art-comments{
	width:880px;
}
.art-detail img{ max-width:800px!important;}
#content .citem:nth-child(6n-1) {
	margin-right:20px
}
#content .citem:nth-child(4n-1) {
	margin-right:0px
}
}
 @media screen and (max-width: 1250px) {
.wrap {
	width: 880px;
}
.imitem{
	width:880px;
	margin-right:0;
}
.art-content{
	float: none;
	width:580px;
	margin:0 auto;
}
.art-comments{
	float: none;
	width:580px;
	margin:0 auto;
}
.art-detail img{ max-width:500px!important;}
#content .citem:nth-child(4n-1) {
	margin-right:20px
}
#content .citem:nth-child(3n-1) {
	margin-right:0px
}
}
 @media screen and (max-width: 950px) {
.wrap {
	width: 580px;
}
.imitem{
	width:580px;
	margin-right:0;
}
.art-content{
	float: none;
	width:580px;
	margin:0 auto;
}
.art-comments{
	float: none;
	width:580px;
	margin:0 auto;
}
.art-detail img{ max-width:500px!important;}
#content .citem:nth-child(3n-1) {
	margin-right:20px
}
#content .citem:nth-child(2n-1) {
	margin-right:0px
}
}

a {
	text-decoration:none!important;
}
html, body {
	font: 12px Arial, "微软雅黑";
	color: #929292;
	width: 100%;
	height: 100%;
	background: #f1f1f1;
}
.wrap {
	margin:0 auto;
}
.header {
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 3;
	background: #323436;
	box-shadow:0px 0px 10px rgba(0,0,0,.6);
}
.banner {
	background:url(imgs/banner.jpg) fixed;
	width: 100%;
	height: 200px;
	position: relative;
	top: 50px;
	overflow:hidden;
}
#bannerbody {
	top: 50px;
	width: 100%;
	height: 200px;
	text-align: center;
}
#bannerbody p:nth-child(1) {
	padding-top: 38px;
	font-size: 30px;
	color: #fff;
}
#bannerbody p:nth-child(2) {
	font-size: 14px;
	color: #d4fffe;
}
#bannerbody p:nth-child(3) {
	margin-top: 30px;
}
#bannerbody p:nth-child(3) a {
	font-size: 14px;
	color: #fff;
	padding: 8px 16px;
	background: #00b4de;
}
.header ul li {
	list-style: none;
}
#hlogo {
	float:left;
	width:120px;
	height:42px;
	display:block;
}
#hnav {
	width:auto;
	height:50px;
	float:left;
	margin-left:20px;
}
#hnav li {
	width:auto;
	height:50px;
	float:left;
}
#hnav li a {
	padding:0 15px;
	line-height:50px;
	display:block;
	color:#8C8C8C;
	font-size:14px;
	transition:background-color ease .3s
}
#hnav li a:hover {
	background-color:#454648;
	color:#fff;
}
#hnav li a.active {
	background-color:#4b4d4f;
	color:#f1f1f1;
}
#hnav li.hnavmore a {
	position:relative;
}
#hnav li .fa-angle-down {
	transition:transform ease .3s;
	-webkit-transition:-webkit-transform ease .3s
}
#hnav li.hnavmore a span {
	left:8px;
	top:0px;
	position:relative;
	font-size:8px;
	width:12px;
}
#hnav li.hnavmore ul {
	padding:0px 0 10px 0;
	position:absolute;
	height:auto;
	width:88px;
	background:#454648;
	display:none;
	width:200px;
}
#hnav li.hnavmore li {
	height:28px;
	float:left;
	width:100%;
}
#hnav li.hnavmore li a {
	height:28px;
	line-height:30px;
	font-size:12px;
	padding:0;
	text-align:left;
	padding-left:25px;
}
#hnav li.hnavmore:hover span {
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg)
}
#hnav li.hnavmore:hover a {
	background-color:#454648;
}
#hnav li.hnavmore li a:hover {
	color:#fff;
	background:#6bc30d
}
#hnav li.hnavmore:hover ul {
	display:block;
}
#navuplpad {
	margin-left:20px;
}
#hnav li#navuplpad a {
	background-color:#6bc30d;
	color:#ffffff;
}
#navuplpad a span {
	margin-right:8px;
}
#mnnav {
	display:none
}
#mnnavlabel {
	height:50px;
	line-height:50px;
	background:#454648
}
#mnnavlabel span {
	top:20px;
	position:relative;
}
#openbtn {
	background:url(../images/openbtn.png);
	width:16px;
	height:10px;
	display:inline-block
}
#mnnav div {
	background:#fff;
	width:350px;
	padding:20px;
	position:absolute;
	display:block;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.21);
	box-shadow: 0 5px 5px rgba(0,0,0,.21);
	display:none
}
#mnnav:hover div {
	display:block;
}
#mnnav div a {
	padding:0;
}
#mnnav div a:hover, #mnnav div a.mnnsub:hover {
	background:#fff;
	color:#1f8902;
}
#mnnav div a.mnnsub {
	color:#2b2b2b;
	border-bottom:#ededed 1px solid;
	text-indent:10px;
}
#mnnav div a.mnnsubd {
	border:none;
}
#mnnav div a.mnnsubs {
	border-top:#ededed 1px solid;
}
#mnnav div ul {
	height:14px;
	padding:0px 0 20px 0
}
#mnnav div ul li {
	float:left;
	width:50px;
	height:14px;
	border-right:#d9d9d9 1px solid
}
#mnnav div ul li a {
	text-align:center;
	color:#737373;
	font-size:12px;
	line-height:14px;
}
#mnnav #mnnfoot {
	padding:18px 0px;
	height:16px;
	width:auto;
	background:#f2f2f2;
	margin:20px -20px -22px -20px;
}
#mnnav #mnnfoot a {
	line-height:14px;
	margin-left:30px;
	float:left;
}
#mnnav #mnnfoot a:hover {
	background:#f2f2f2;
}
#hrnav {
	float:right;
}
#soform {
	float:left;
	margin-top:10px;
}
#soform form {
	background:#434649;
	width:170px;
	height:32px;
}
#soform form input {
	float:left;
}
#soform form input[type=text] {
	line-height:14px;
	height:14px;
	color:#8b8d90;
	padding:9px;
	width:122px;
	outline:none
}
#soform form input[type=submit] {
	width:30px;
	height:32px;
	cursor:pointer;
	transition:background-color ease-out .3s
}
#soform form input[type=submit]:hover {
	background-color:#2a2c2e
}
#mulogin {
	float:left;
	margin-top:10px;
	margin-left:10px;
}
#mulogin .avatar, #mulogin .info {
	float:left
}
#mulogin .avatar {
	margin-right:10px;
}
#mulogin a.box {
	background:#505050;
	color: #ACACAC;
	display: block;
	float:left;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	transition: color 0.3s ease-out 0s;
	width: 70px;
}
#mulogin a:hover {
	color:#fff;
}
#mulogin a#muregbtn {
	background:#6BC30D;
	color:#fff;
}
#mulogin .info {
	font-size:12px;
}
#mulogin .info .links a:link, #mulogin .info .links a:visited {
	color:#777!important;
}
#mulogin .info .links a:hover {
	color:#fff!important;
}
#mulogin .info .links a {
	margin-right:5px;
}
#mulogin .info .nick {
	font-weight:bold;
	margin-bottom:3px;
}
#mulogin .avatar {
	padding:1px;
	border:1px solid #777;
	position:relative;
	top:-5px;
	box-shadow:3px 1px 10px rgba(0,0,0,.9);
	border-radius:3px;
}
#sooptions {
	width: 100%;
	padding: 10px 0;
	position: fixed;
	top: 250px;
	z-index: 2;
	background-color: #f7f8f8;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
#socontent {
	height: 40px;
}
#content {
	margin-top:200px;
}
.citem {
	width:280px;
	height:270px;
	margin-bottom:46px;
	background:#fff;
	float:left;
	margin-right:20px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
#citemslide, #citemss li {
	width: 580px;
	height: 270px;
	 overflow:hidden;
}
#citemslide .slideBox{ position:relative;}
#citemslide li{ float:left; height:270px;}
#citemslide li img{ width:580px; height:270px;}
#citemslide ul{ height:270px; position:absolute;}
#citemslide .slideBox .tips{ position:absolute;}
.citem .citemtop {
	width: 280px;
	height: 180px;
	position: relative;
	display: block;
	overflow: hidden;
}
.citem .citemtop img, .citem .citemimg {
	width: 100%;
	height: 100%;
	vertical-align:middle;
}
.citem .citemtxt {
	background: #fff;
	padding: 10px 20px;
	position: absolute;
	width: 280px;
	height: 40px;
	bottom: -60px;
	transition: bottom ease .3s;
}
.citem:hover .citemtxt {
	bottom: 0;
}
.citem .citemtitle {
	width: 240px;
	display: block;
	color: #000000;
	font-size: 14px;
	font-weight: 500;
	height: 20px;
	line-height:20px;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.citem .citemtc {
	height: 20px;
	line-height: 20px;
}
.citem .citemtc .yy-time {
	position:relative;
	top:4px;
	left:-4px;
}
.yy-icon {
	display: inline-block;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(imgs/yy-icon.png);
}
.yy-time {
	width: 20px;
	height: 20px;
	background-position: -143px -252px;
}
.citem .tags{ height:46px; line-height:46px; padding:0px 20px; border-bottom:1px solid #f2f2f2; overflow:hidden; color:#ccc;}
.citem .tags i{ color:#ddd; margin-right:5px;}
.citem .tags a:link,
.citem .tags a:visited{ color:#ccc;}
.citem .tags a:hover{ color:#999;}
.citem .tags a{ margin-right:5px;}
.citem .categorys{ height:45px; line-height:45px; padding:0px 20px;}
.citem .categorys a{ display:block; height:45px; line-height:45px;}
.citem .categorys a:link,
.citem .categorys a:visited{ color:#ccc;}
.citem .categorys a:hover{ color:#999;}
.citem .categorys a i{ color:#eeee; margin-right:8px;}
.citem .categorys a img{ position:relative; top:4px; margin-right:5px;}
#pages{ margin-bottom:40px; height:36px; font-size:14px;}#pages span{ float:left; margin:0 18px 0 13px; line-height:28px;background:#70ca10;color:#fff;width:36px; height:36px; text-align:center; line-height:36px;}#pages a{ width:36px; height:36px; background:#fff; display:block; color:#a9a9a9; line-height:36px; text-align:center; font-family:Arial; float:left; margin-right:5px;transition:background-color 0.2s ease-out}#pages a#pageactive{ background:#70ca10;color:#fff;}#pages a:hover{ background:#969696; color:#fff;}
#pages a,
#pages span{ border-radius:3px;}
.homenav{ height:40px; line-height:40px;}
.homenav img{ position:relative; top:4px; margin-right:10px;}

.note{}
.notelist{ display:block; padding:10px 20px; border-bottom:1px dashed #f2f2f2; font-size:14px;}
.notelist:link,
.notelist:visited{ color:#777;}
.notelist:hover{ color:#999;}
.notelist i{ margin-right:15px; font-family:"Comic Sans MS", cursive; font-size:18px; font-style:oblique; color:#70ca10;}
.notelist:last-child{ border-bottom:0px;}
.notelist span{ color:#ccc; display: block; padding-left:20px;}
.common{ margin-top:100px!important;}
.art-zones{ padding:20px 20px;background-color:#F8FCFE; margin-bottom:30px; line-height:20px;}
.art-zones div{ padding-bottom:5px;}
.art-zones i{ margin-right:5px; display:inline-block; width:20px; height:20px; text-align: center; line-height:20px;}
.art-zones a:link,
.art-zones a:visited{ color:#777;}
.art-zones a;hover{ color:#999;}
.art-zones a{ margin-right:10px;}
.art-detail{ padding:50px 20px; line-height:20px;}
.art-detail strong{ font-weight:bold;}
.art-detail p{ margin-bottom:10px;}
.art-detail table{ border-left:1px solid #ddd; border-top:1px solid #ddd; margin:10px 0px;}
.art-detail table td{ border-right:1px solid #ddd; border-bottom:1px solid #ddd; padding:3px 5px;}
.art-detail pre{ padding:10px 15px; border:1px dashed #ddd; background-color:#F8FCFE;}
.art-detail ol{ margin-left:20px;}
.art-detail a:link,
.art-detail a:visited{ color:#1a6cc1;}
.art-detail a:hover{ color:#000;}
.comment{ padding:20px;}
.comment p{ margin-bottom:10px; line-height:20px;}
.comment a:link,
.comment a:visited{ color:#428BD1;}
.comment a:hover{ color:#000;}
.comment a{ margin:0px 2px;}
.comment .form .avatar{ float:left; width:50px; height:50px;}
.comment .form .avatar img{ padding:1px; border:1px solid #ddd;}
.comment .form .posts{ 
	margin-left:60px;
}
.comment .form .posts .textarea,
.replyboxs .info .textarea{position:relative;height: 73px;
	border: #dae2e5 1px solid;
	border-right: none;
	padding: 5px;
	width: auto;
	margin-right: 119px;}
.comment .form .posts textarea,
.replyboxs .info textarea{
	width: 100%;
	height: 70px;
	resize: none;
	border: none;
	font-size: 12px;
	font-family: 微软雅黑,Arial;
	color: #818181;
	overflow:hidden;
}
.comment .form .posts .submit,
.replyboxs .info .submit{
	position:absolute;
	right:-120px;
	top:-1px;
	width: 124px;
	height: 85px;
	display: block;
	background: #aeaeae;
	line-height: 85px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	transition: background-color ease .3s;
	font-family: 微软雅黑,Arial;
	border:0;
	cursor:pointer;
}
.comment .form .posts .submit:hover,
.replyboxs .info .submit:hover{
	background-color:#6bc30d;
}
.comment .form .posts .text,
.replyboxs .info .text{border: #dae2e5 1px solid; padding:5px;font-family: 微软雅黑,Arial; font-size:12px;}
.error{
	background: #FF7200;
	color: #FFFFFF;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	margin-left: 14px;
	padding: 1px 4px;
	text-align: center;
	display: none;
}
.postform{ margin-bottom:30px;}
.comm{ border-top:#dae2e5 1px solid;}
.root-comment{ padding:15px 0px;}
.child-comment{ padding:10px 0px; padding-left:60px;border-top:#dae2e5 1px dashed;}
.comment-box-user{ float:left;}
.comment-box-user img{ width:48px; height:48px; padding:1px ; border:1px solid #ddd;}
.comment-box-user .tools{ text-align:center; margin-top:5px;}
.comment-box-user .tools a:link,
.comment-box-user .tools a:visited{ color:#ddd;}
.comment-box-user .tools a:hover{ color:#999;}
.comment-box-info .nick{ color:#1F8902; height:24px; line-height:24px;}
.comment-box-info .time{ color:#ccc; margin-bottom:5px;}
.comment-box-info .des{ line-height:20px;}
.comment-box-info { margin-left:60px; margin-right:10px;}
.comment-box-info .replyboxs{ border:1px dashed #ccc; background-color:#F8FCFE; padding:10px 15px;}
.comment-box-info .replyboxs h4{ padding-bottom:5px; font-weight:bold;}
.comment-box-info .replyboxs .repc{ line-height:20px;}
.replybox{border-top:#dae2e5 1px dashed;padding:15px 0px; padding-left:60px;background-color:#F8FCFE;}
.replyboxs .avatar img{ width:48px;padding:1px ; border:1px solid #ddd;}
.replyboxs .avatar .close:link,
.replyboxs .avatar .close:visited{display:block; height:34px; line-height:24px; text-align:center; color:#ddd;}
.replyboxs .avatar .close:hover{ color:#999;}
.replyboxs .info{ margin-left:60px;}
.replyboxs .info .textarea{ background-color:#fff;}

.imitem .photo{ padding:10px 0px;}
.imitem .photo .pitem{ width:50%;overflow:hidden; float:left;}
.imitem .photo .pitem a{ display:block; margin:10px 10px 0px 20px; height:60px; color:#696969;}
.imitem .photo .pitem a img{ width:48px;}
.imitem .photo .pitem a .avatar{ float:left;}
.imitem .photo .pitem a .info{ margin-left:55px;}
.imitem .photo .pitem a .info .nick{ height:24px; line-height:24px;color:#1F8902;}
.imitem .photo .pitem a .info .reply{	overflow: hidden;height:36px; line-height:18px; color:#aaaaaa;}

#link{}
#link h3,
#comment h3{ padding:10px 0px; border-bottom:1px solid #f2f2f2; margin-bottom:10px; font-size:14px; font-weight:bold;}
#link td{ padding:3px 5px;}
#link td .text{ border:1px solid #ddd; height:30px; line-height:30px; color:#777; padding:0px 10px;}
#link td textarea{ border:1px solid #ddd; width:90%; height:100px; resize:none}

.texts{}
.texts .ic{ float:left; width:150px; margin-right:10px; margin-bottom:10px;}
.ic .des{ color:#ccc; line-height:20px;}
.ic a{ display:block; height:20px; line-height:20px; overflow:hidden;}

.icons .ic{ float:left; width:300px; margin-right:20px; margin-bottom:10px;}
.icons .ic img{ width:88px; height:31px; float:left;}
.icons .ic a,
.icons .ic .des{ display:block; margin-left:98px;}

#links{ padding:20px 30px; background:#fff; margin:10px 0 50px 0;line-height:24px;box-shadow: 0 1px 3px rgba(0,0,0,0.1);}#links span{ color: #3E3E3E;margin-right: 10px;}#links a{ color:#949494; margin-right:20px; }

#footer{ background-color:#222324; padding:20px 0px;}
#footer .copyright{ height:30px; line-height:30px;}
#footer .theme{ height:20px; line-height:20px;}
#footer a:link,
#footer a:visited{ color:#ddd;}
#footer a:hover{ color:#fff;}

.search{
	background: #edeeee;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.11);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.11);
	height:40px; line-height:40px;
	color:#777;
	padding:0px 30px;
	border-radius:5px;
}
.search i{ margin-right:8px;}
.art-detail{ padding-bottom:50px;}

.art-zones,
.art-zones a:link,
.art-zones a:visited{ color:#1a6cc1;}
.art-zones a:hover{ color:#36F;}
.art-tag{ padding:0px 0px 10px 0px;}
.art-tag .tag{ height:30px; line-height:30px; border-bottom:1px solid #eee; padding-left:30px;}
.art-tag .tag span,
.art-tag .tag a{ display:block; float:left;}
.art-tag .tag span{ display:block; padding:0px 20px; height:30px; border:1px solid #eee; border-bottom:1px solid #fff; position:relative; top:-1px; border-radius:3px 3px 0 0;}
.art-tag .tag a{ margin-left:10px;}
.art-tag .tag a:link,
.art-tag .tag a:visited{color:#1a6cc1;}
.art-tag .tag a:hover{ color:#000;}
.art-tag .tag-list{ padding:10px 20px;}
.art-tag .tag-list a{ display:block; padding:5px 10px; border-top:1px dashed #f2f2f2; height:20px; line-height:20px;-webkit-transition: all ease .3s;-moz-transition: all ease .3s;-ms-transition: all ease .3s;-o-transition: all ease .3s; transition: all ease .3s;}
.art-tag .tag-list a i{ margin-right:10px;}
.art-tag .tag-list a span{ margin-right:5px;}
.art-tag .tag-list a:link,
.art-tag .tag-list a:visited{ color:#777;}
.art-tag .tag-list a:hover{ color:#000;}
.art-tag .tag-list p i{ margin-right:5px;}
.art-tag .tag-list p.total{ padding-left:25px; height:26px; line-height:26px; color:#1a6cc1;}
.art-time{ text-align:center; color:#ccc; padding:20px 0px; font-size:14px; background-color:#d9f7b8; color:#6bc30d;}
.art-tag .tag-page{ padding:0px 20px; padding-left:44px; padding-bottom:20px;}
.art-tag .tag-page span,
.art-tag .tag-page a{ display:block; float:left; width:20px; line-height:20px; border:1px solid #ddd; text-align:center; margin-right:5px; font-family:"Courier New", Courier, monospace}
.art-tag .tag-page span{ background-color:#ddd; color:#fff;}
.art-tag .tag-page a{ color:#1a6cc1;}
.art-content{ padding-top:10px;}
#notice{ margin-left:10px; color:#ff0000; font-weight:normal; cursor:pointer;}
#noticehtml{ display:none; position:fixed; top:55px; right: 20px; z-index:99999; background-color:rgba(255,255,255,.9); border-radius:3px;}
#noticehtml a{ display:block;box-shadow: 0 1px 3px rgba(0,0,0,0.1); padding:5px 10px; color:#000; border-top:1px solid #eee;}
#noticehtml a .avatar{ width:36px; height:36px; float:left;}
#noticehtml a .info{ margin-left: 50px;}
#noticehtml a .info .nick{ font-weight:bold; height:22px; line-height:22px;}
#noticehtml a .info .title{ color:#777; line-height:20px;}
#noticehtml a .info .domain{ color:#777; line-height:20px;}
#noticehtml a .info .domainsrc{ color:#777; line-height:20px;}
#noticehtml a .info .reply{ color:#1a6cc1; height:20px; line-height:20px;}
#noticehtml .close{ height:20px; line-height:20px; text-align:right; padding:0px 10px;}
#noticehtml .close i{ cursor:pointer;color:#F63; line-height:20px; display:inline-block;}